@font-face {
  font-family: BogartRegular;
  src: url('assets/bogart/Bogart-Regular-trial.ttf');
}

header{
  background-color: #828bcd;
  color: #fff;
  text-align: center;
  height: 700px;
  overflow: hidden;
}

h1{
  font-family: "BogartRegular";
  font-size: 100px !important;
  padding-top: 75px;
  padding-bottom: 150px;
}

header h2{
  font-family: 'Montserrat';
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 150px;
}

header p{
  font-family: 'Montserrat';
  font-size: 16px;
  text-transform: uppercase;
}

header a { 
  color: #EFA4AD;
  font-family: 'Montserrat';
  font-size: 16px;
  text-transform: uppercase;
}

header a:hover { 
  color: #5A71B3;
}

header img {
  height: 700px;
}

header .sous-titre{
  font-size: 22px;
}

.bio {
  padding: 70px;
}

.bio h3 {
  font-family: 'Montserrat';
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 100px;
}

.bio h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-bottom: 80px;
}

.bio p {
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom: 20px;
  text-align: justify;
}

.bio img {
  width: 70%;
}

.cv {
  background-color: #828bcd;
  color: #fff;
  padding: 70px;
}

.cv img {
  width: 100%;
  padding-top: 50px;
}

.cv h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-bottom: 30px;
}

.cv p, .cv li {
  font-family: "Montserrat";
  font-size: 16px;
  padding-bottom: 20px;
}

.cv .strong{
  font-weight: 600;
}

.travail {
  padding: 70px;
}

.travail h3 {
  font-family: 'Montserrat';
  font-size: 25px;
  text-transform: uppercase;
  padding-bottom: 50px;
}


.travail h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-top: 50px;
}

.travail p {
  font-family: "Montserrat";
  font-size: 16px;
  padding-top: 20px;
  text-align: justify;
}

.travail img {
  width: 100%;
  padding: 10px;
}

.mobile {
  background-color: #828bcd;
  color: #fff;
  padding: 70px;
}

.mobile h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mobile p {
  font-family: "Montserrat";
  font-size: 16px;
  width: 60%;
  text-align: justify;
}

.mobile img {
  width: 100%;
}

.edu {
  padding: 70px;
}

.edu h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-bottom: 70px;
}

.edu p {
  font-family: "Montserrat";
  font-size: 16px;
  padding-top: 20px;
  text-align: justify;
}

.edu img {
  width: 100%;
}

.mentoring {
  background-color: #828bcd;
  color: #fff;
  padding: 70px;
}

.mentoring h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-bottom: 30px;
}

.mentoring h5 {
  font-family: "BogartRegular";
  font-size: 32px;
  padding-bottom: 30px;
}

.mentoring p {
  font-family: "Montserrat";
  font-size: 16px;
  text-align: justify;
  width: 90%;
}

.mentoring .img-form {
  background-color: #F6F6F6 ;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.mentoring img {
  width: auto;
  height: 110px;
}

.quote .left {
  background-color: #828bcd;
  color: #fff;
  padding: 70px;
}

.quote p {
  font-family: "BogartRegular";
  font-size: 32px;
  padding-top: 100px;
}

.quote .right {
  padding: 80px;
}

.quote img {
  width: 100%;
}

.contact {
  padding: 70px;
}

.contact h4 {
  font-family: "BogartRegular";
  font-size: 40px;
  padding-bottom: 60px;
}

.contact img {
  width: 80%;
}

.contact-txt {
  padding-top: 85px;
}

.p-title {
  font-family: 'Montserrat';
  font-size: 16px;
  padding-top: 30px;
}

.p-txt {
  font-family: 'BogartRegular';
  font-size: 16px;
}

a { 
  color: #EFA4AD !important;
  transition: 0.3s;
}

a:hover {
  color: #FFC7CF !important;
  transition: 0.3s;
}

.reveal{
  opacity: 0;
  transform: translateY(-30px);
}

.reveal-visible{
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5, 0, 0, 1);
}

footer{
  padding-top: 24px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #828bcd;
}

.mentions{
  font-size: 18px !important;
  font-family: 'Montserrat' !important;
  padding-top: 10px !important;
}

@media (max-width: 991.98px) {
  header {
    height: auto;
  }

  header img {
    height: 300px;
    width: auto;
  }

  h1{
    font-size: 50px !important;
    padding-top: 50px;
    padding-bottom: 70px;
  }
  
  header h2{
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 70px;
  }

  header p{
    font-size: 14px;
    padding-bottom: 30px;
  }
  
  header a { 
    font-size: 14px;
    padding-bottom: 30px;
  }

  .bio {
    padding: 30px;
  }
  
  .bio h3 {
    font-size: 20px;
    padding-bottom: 30px;
  }
  
  .bio h4 {
    font-family: "BogartRegular";
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  .bio p {
    font-size: 14px;
    padding-bottom: 10px;
  }
  
  .bio img {
    width: 100%;
    padding-bottom: 30px;
  }

  .cv {
    padding: 30px;
  }
  
  .cv img {
    width: 100%;
    padding-top: 20px;
  }
  
  .cv h4 {
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  
  .cv p, .cv li {
    font-size: 14px;
    padding-bottom: 15px;
  }

  .travail {
    padding: 30px;
  }
  
  .travail h3 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  
  
  .travail h4 {
    font-size: 25px;
    padding-top: 30px;
  }
  
  .travail p {
    font-family: "Montserrat";
    font-size: 16px;
    padding-top: 20px;
    text-align: justify;
  }
  
  .travail img {
    width: 100%;
    padding: 10px;
  }

  .mobile {
    padding: 30px;
  }
  
  .mobile h4 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .mobile p {
    font-size: 14px;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .mobile img {
    width: 100%;
  }

  .edu {
    padding: 30px;
  }
  
  .edu h4 {
    font-size: 25px;
    padding-bottom: 10px;
  }
  
  .edu p {
    font-size: 14px;
    padding-top: 10px;
  }
  
  .edu img {
    width: 100%;
    padding-bottom: 20px;
  }

  .mentoring {
    padding: 30px;
  }
  
  .mentoring h4 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  .mentoring h5 {
    font-size: 22px;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  
  .mentoring p {
    font-size: 14px;
    width: 100%;
  }
  
  .mentoring .img-form {
    padding: 10px;
    margin: 10px;
  }
  
  .mentoring img {
    height: 100px;
  }

  .quote .left {
    padding: 30px;
  }
  
  .quote p {
    font-size: 25px;
    padding-top: 10px;
  }
  
  .quote .right {
    padding: 50px;
  }
  
  .quote img {
    width: 100%;
  }

  .contact {
    padding: 30px;
  }
  
  .contact h4 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  .contact img {
    width: 100%;
  }
  
  .contact-txt {
    padding-top: 20px;
  }
  
  .p-title {
    font-size: 14px;
    padding-top: 10px;
  }
  
  .p-txt {
    font-size: 14px;
  }
  
}
